body {
    text-align: center;
    text-size-adjust: large;
    background-repeat: no-repeat;
    background-color: rgb(56, 56, 56);
    background-size: cover;
    background-image: radial-gradient(gray,white,gray,white)
  }
  
  p {
    color: rgb(41, 41, 41);
    text-size-adjust: large;
    font-weight: bold;
    padding: 0%;
  }
  img {
      align-content: center;
      size-adjust: large;
  }

  h2 {
      color: rgb(255, 157, 0);
      text-align: center;
  }
  input {
    color: rgb(255, 157, 0);
    background-color: gray; 
  }

  title {
      font-weight: bolder;
  }

  a {
      background-color: linear-gradient(black,white,black,white,black,white,black,white);
  }
