body {
    text-align: center;
    text-size-adjust: large;
    background-repeat: no-repeat;
    background-color: rgb(255, 157, 0);
    background-size: cover;
  }
  
  p {
    color: rgb(128, 0, 0);
    text-size-adjust: large;
    font-weight: bold;
    padding: 0%;
  }
  img {
      align-content: center;
      size-adjust: large;
  }

  h2 {
      color: rgb(255, 157, 0);
      background-color: darkred;
      text-align: center;
  }
  input {
    color: rgb(255, 157, 0);
    background-color: darkred; 
  }

  title {
      font-weight: bolder;
  }